*
{
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    width: 1200px;
}

/* duong dan category */
.breadcrumb-item > a
{
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}
.breadcrumb-item > a:hover
{
    color: red;
}
#nav-category
{
    padding: 5px;
}

/* BUTTON login */
#tool > p
{
    padding-top: 30px;
}
#button-login
{   
    
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.15s ease-in;
    font-weight: bold;
    
}   
#button-login:hover 
{
    transform: scale(1.1);

}

/* Banner slide */
.carousel-caption > h5
{
    font-weight: bold;
    font-size: large;
    color: white;                               /* Mau tieu de banner */
    text-shadow: 0 0 6px #0602ff;          
}
.carousel-caption > dd
{
    font-size: small;
    color: white;                               /* mau tieu de noi dung banner */
    text-shadow: 0 0 6px #0602ff;  
}

/* menu */
.dropdown:hover .dropdown-menu 
{
    display: block;
    margin-top: 0;
}
#link-dropdown
{
    /* mau menu cap 2 */
    font-weight: bold;
    color: #337ab7;
}
#link-dropdown:hover
{
    color: red;
}
#dropdown-bg
{
    background-color: #d9edf7;
}

.dropdown .dropdown-menu > a:hover
{
    color: red;
}

.link-menu, .button-menu
{
    font-weight: bold;

}
.link-menu:hover , .button-menu:hover
{
    color: red;   
}
.button-menu:hover, #link-dropdown:hover
{
    background-color: #eeeeee;
}
.button-menu
{
    border: none;
    width: 116px;
    height: 50px;
}

/* TAB menu */
#menuTab
{
    padding: 40px;
}
.tab-content
{
    padding: 40px;
}
.card-tabmenu
{
    padding: 10px;
}
.card
{
    transition: transform .2s;
    
}
.card:hover
{
    transform: scale(1.05);
    background-color: #eeeeee;
}
/* noi dung chinh */
.main-tittle-content
{
    font-size: 33px;
    font-weight: bold;
    color: black;
    font-family: 'Tahoma';
}
.main-img-content
{
    width: 70%;
}
/* tieu de bai bao */
dd
{
    font-size: 16px;
    color: black;
    font-family: 'Tahoma';
}
.row-md-12 > ul
{
    list-style-type: decimal;
}  
/* phan binh luan */
.lh
{
    line-height: 2.5;
}
/* phan doc them */
#readmore
{
    padding: 50px;
    position: sticky;
}
article
{
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 20px;
}
article:hover
{
    background-color: gainsboro;
    transition: .15s ease-in;
}
.main-readmore
{
    display: flex;  
    flex-wrap: wrap;
    position: relative;
}
/* .img-readmore
{
    width: 220px;
    height: 150px;
}
.tittle-readmore
{
    float: right;
    clear: both;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: -125px;
    left: 20vw;
    width: 800px;
}
.content-readmore
{
    font-size: small;
    position: absolute;
    top: -70px;
    left: 20vw;
    color: rgb(97, 95, 95);
} */

/* hop link cua phan doc them */
.box-readmore
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: .35s ease-in;
}
.box-readmore:hover
{
    transform: scale(1.02);
}
.box-readmore > .link-readmore
{
    text-decoration: none;
    width: 850px;
}

.link-readmore
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: black;
}
.link-readmore:hover
{
    color: red;  
}
.img-readmore
{
    width: 220px;
    height: 150px;
}
.tittle-readmore
{
    font-size: 24px;
    font-weight: bold;
}
.content-readmore
{
    font-size: small;
    color: rgb(97, 95, 95);
}


/* footer */
footer
{
    /* background-color: #2596be; */
    position: relative;
    bottom: -400px;
} 
.listlink-footer > ul
{
    list-style-type: none;
}
.listlink-footer ul > li
{
    display: inline-block;
    margin-right: 5px;
}
.link-footer 
{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.link-footer:hover 
{
    color: white;
    text-decoration: none;
}
  
.link-footer::before , .link-footer::after
{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: white; 
    transform: scaleX(0);
    transition: transform 0.4s ease;
}
  
.link-footer:hover::before , .link-footer:hover::after
{
    transform: scaleX(1);
}

/* text ban quyen */
.text-rgb-animation 
{
    font-size: 15px;
    font-weight: bold;
    background-image: 
    linear-gradient(to right, rgb(221, 24, 24),rgb(245, 171, 34),rgb(223, 223, 0),rgb(1, 156, 1),rgb(0, 0, 223),rgb(105, 2, 179),rgb(226, 77, 226), rgb(226, 8, 8)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rgb-animation 35s linear infinite;
}
  
@keyframes rgb-animation 
{
    to 
    {
        background-position: 1800vh;
    }
}