.main-tittle-content
{
    font-size: 33px;
    font-weight: bold;
    color: black;
    font-family: 'Source Code Pro', 'Tahoma';
}
.main-img-content
{
    width: 70%;
}
p
{
    font-size: 16px;
    color: black;
    font-family: 'Source Code Pro', 'Tahoma';
}
.row-md-12 > ul
{
    list-style-type: decimal;
}  
.lh
{
    line-height: 2.5;
}
