.container
{
    width: 1200px;
}
.main-tittle-content
{
    font-size: 33px;
    font-weight: bold;
    color: black;
    font-family: 'Source Code Pro', 'Tahoma';
}
.main-img-content
{
    width: 70%;
}
p
{
    font-size: 16px;
    color: black;
    font-family: 'Source Code Pro', 'Tahoma';
}
.row-md-12 > ul
{
    list-style-type: decimal;
}  
.lh
{
    line-height: 2.5;
}

#readmore
{
    padding: 50px;
    position: sticky;
}
article
{
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 20px;
}
article:hover
{
    background-color: gainsboro;
    transition: .15s ease-in;
}
.main-readmore
{
    display: flex;  
    flex-wrap: wrap;
    position: relative;
}
/* .img-readmore
{
    width: 220px;
    height: 150px;
}
.tittle-readmore
{
    float: right;
    clear: both;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: -125px;
    left: 20vw;
    width: 800px;
}
.content-readmore
{
    font-size: small;
    position: absolute;
    top: -70px;
    left: 20vw;
    color: rgb(97, 95, 95);
} */
.box-readmore
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-readmore > .link-readmore
{
    text-decoration: none;
    width: 850px;
}

.link-readmore
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: black;
}
.link-readmore:hover
{
    color: rgb(48, 160, 235);    
}
.img-readmore
{
    width: 220px;
    height: 150px;
}
.tittle-readmore
{
    font-size: 24px;
    font-weight: bold;
}
.content-readmore
{
    font-size: small;
    color: rgb(97, 95, 95);
}

