/* menu sticky */
#banner
{
    height: 150px;
    left: 0;
}
  
#menusticky
{
    
    height: 50px;
    left: 0;
    top: 0;
}
  
.sticky 
{
    position: sticky;
    left: 0;
    z-index: 1040;
}

.search {
    margin-top: 55px;
}
